nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    background-color: rgb(245, 245, 245);
}

#logo {
    width: 250px;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -70px;
    cursor: pointer;
    margin-top: -10px;
}

#Menu {
    position: absolute;
    display: flex;
    margin-top: 13px;
    margin-left: 12%;
    font-family: "Baumans", system-ui;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}

#Menu i {
    margin-top: 5px;
    color: #E44E3F;
}

#search_bar {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -25px;
    margin-right: 50%;
}

#search_bar input {
    width: 300px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid transparent;
    font-size: 15px;
    outline: none;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Baumans", system-ui;
    background-color: #e7e7e7;
}

#search_bar i {
    position: absolute;
    right: 10px;
    color: #858585;
}

#About {
    position: absolute;
    display: flex;
    margin-left: 58%;
    font-family: "Baumans", system-ui;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    margin-top: 13px;
}

#About i {
    margin-top: 5px;
}

#Account {
    position: absolute;
    display: flex;
    margin-left: 74%;
    font-family: "Baumans", system-ui;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    margin-top: 13px;
}

#Account i {
    margin-top: 5px;
}

#Cart {
    position: absolute;
    display: flex;
    margin-left: 92%;
    font-family: "Baumans", system-ui;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    margin-top: 13px;
}

#Cart i {
    margin-top: 5px;
}

#Text{
    position: absolute;
    margin-left: 5%;
    font-family: "Baumans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;

}

#Whats_on_your_mind{
    display: flex;
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 6%;
    cursor: pointer;
}

.Text{

    display: flex;
    justify-content: space-between;
    font-size: 10px;
    margin-left: 8%;
    margin-right: 5.5%;
    font-family: "Barlow", sans-serif;
    font-size: 7px;
    color: #686868;
    cursor: pointer;
}

/* #P{
    margin-left: 0%;
} */
#B{
    margin-left: -40px;
} 
#C{
    margin-left: 2.5%;
}
 #B{
    margin-left: 2.5%;
}
#S{
    margin-left: 2.5%;
}
#Pu{
    margin-left: 2.5%;
}
#D{
    margin-left: 2.5%;
}
#Sh{
    margin-left: 2.5%;
} 